USE [ConcesionariaDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/9/2026 15:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimiento]    Script Date: 9/9/2026 15:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[Kilometraje] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
 CONSTRAINT [PK_Mantenimiento] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 9/9/2026 15:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Anio] [varchar](10) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (12, N'SUV Premium', N'Vehículos utilitarios deportivos de lujo, ideales para viajes largos y confort.', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (13, N'Sedán Ejecutivo', N'Autos de cuatro puertas con alto nivel de equipamiento y elegancia.', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (14, N'Deportivo', N'Vehículos de alto rendimiento y diseño aerodinámico.', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (11, N'PCU-8684', N'Chevrolet', N'Spark', N'2026', CAST(20042.00 AS Decimal(18, 2)), 1, 12)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (12, N'ABC-2005', N'YAMAHA', N'Crypton', N'2026', CAST(4980.00 AS Decimal(18, 2)), 1, 15)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (14, N'PBC-1845', N'Nissan', N'Crypton', N'2026', CAST(5000.00 AS Decimal(18, 2)), 1, 16)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Vehiculo] FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[Vehiculo] ([IdVehiculo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mantenimiento] CHECK CONSTRAINT [FK_Mantenimiento_Vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Categoria]
GO
